* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: burlywood;
    min-height: 100%;
}

.game {
    font-size: 10rem;
    text-align: center;
    color: blueviolet;
    padding-top: 150px;
}