* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: burlywood;
    min-height: 100%;
    margin: 0;
}

.header {
    background-color: khaki;
    padding: 24px;
}

.header__page-title {
    color: cadetblue;
    font-size: 4rem;
    text-align: center;
}