* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: burlywood;
    min-height: 100%;
}

.header {
    background-color: khaki;
}

.header__page-title {
    color: cadetblue;
}